<!-- <div class="blockHeader">
  Simulation
</div> -->

<nav class="navbar navbar-sm navbar-expand shadow-sm">
  <span class="nav-item">
    <b>&nbsp;Simulation&nbsp;</b>
  </span>

  <ul class="navbar-nav mr-auto">
    <div class="divider"></div>

    <li class="nav-item">
      <a (click)="onRewind()" class="nav-link" href="#">
        <i class="fas fa-backward"></i>
        <span>Rewind</span>
      </a>
    </li>

  </ul>

  <ul class="navbar-nav ml-auto">

    <div class="divider"></div>

    <li class="nav-item">
      <a (click)="onAnimation()" class="nav-link" href="#">
        <i [ngClass]="simulationService.isAnimation ? 'far fa-check-square' : 'far fa-square'"></i>
        <span>Animation</span>
      </a>
    </li>

    <li class="nav-item">
      <a (click)="onAutoswitchPages()" class="nav-link" href="#">
        <i [ngClass]="simulationService.isAutoswitchPage ? 'far fa-check-square' : 'far fa-square'"></i>
        <span>Auto-switch pages</span>
      </a>
    </li>

  </ul>

</nav>

<div class="panel tab-container">

  <div class="blockHeader" (click)="simulationService.setMode(simulationService.SINGLE_STEP)"
    [ngClass]="simulationService.mode === simulationService.SINGLE_STEP ? 'enabled' : 'disabled'">
    <i class="fas fa-step-forward"></i>
    <span>Single Step</span>
  </div>
  <div class="note" [ngClass]="{'expanded': simulationService.mode === simulationService.SINGLE_STEP }">
    Click on a marked (enabled) transition
  </div>

  <div class="blockHeader" (click)="simulationService.setMode(simulationService.SINGLE_STEP_CHOOSE_BINDING)"
    [ngClass]="simulationService.mode === simulationService.SINGLE_STEP_CHOOSE_BINDING ? 'enabled' : 'disabled'">
    <i class="fas fa-step-forward"></i>
    <span>Single Step Choose Binding</span>
  </div>
  <div class="note" [ngClass]="{'expanded': simulationService.mode === simulationService.SINGLE_STEP_CHOOSE_BINDING }">
    Click on a marked (enabled) transition and select one binding
  </div>

  <div class="blockHeader" (click)="simulationService.setMode(simulationService.MULTI_STEP)"
    [ngClass]="simulationService.mode === simulationService.MULTI_STEP ? 'enabled' : 'disabled'">
    <i class="fas fa-fast-forward"></i>
    <span>Multi-Step (Animated)</span>
  </div>
  <div class="note" [ngClass]="{'expanded': simulationService.mode === simulationService.MULTI_STEP }">
    <table>
      <tr>
        <td>Steps</td>
        <td><input class="full-width" type="number" [(ngModel)]="simulationService.simulationConfig.multi_step.steps">
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Delay</td>
        <td><input class="full-width" type="number" [(ngModel)]="simulationService.simulationConfig.multi_step.delay">
        </td>
        <td>ms</td>
      </tr>
      <tr>
        <td>
        </td>
        <td class="full-width text-right">

          <table width="100%">
            <tr>
              <td width="100%">
                <div *ngIf="simulationService.multiStepCount > 0">
                  <div style="text-align: left; color: gray; font-size: 0.9em;">
                    Step {{this.simulationService.simulationConfig.multi_step.steps
                    - this.simulationService.multiStepCount}} of
                    {{this.simulationService.simulationConfig.multi_step.steps}}
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" [style.width]="getMultistepProgress()"></div>
                  </div>
                </div>
              </td>
              <td>
                <button type="button" class="btn"
                  [ngClass]="simulationService.multiStepCount > 0 ? 'btn-danger' : 'btn-primary'"
                  (click)="onRunMultiStep()">
                  <i [class]="simulationService.multiStepCount > 0 ? 'fas fa-stop' : 'fas fa-play'"></i>
                  <span>{{ simulationService.multiStepCount > 0 ? 'Stop' : 'Run' }}</span>
                </button>
              </td>
            </tr>
          </table>

        </td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="blockHeader" (click)="simulationService.setMode(simulationService.MULTI_STEP_FF)"
    [ngClass]="simulationService.mode === simulationService.MULTI_STEP_FF ? 'enabled' : 'disabled'">
    <i class="fas fa-fast-forward"></i>
    <span>Multi-Step (Fast Forward)</span>
  </div>
  <div class="note" [ngClass]="{'expanded': simulationService.mode === simulationService.MULTI_STEP_FF }">
    <table *ngIf="simulationService.mode === simulationService.MULTI_STEP_FF">
      <tr>
        <td>Steps</td>
        <td>
          <input type="number" class="full-width" [(ngModel)]="simulationService.simulationConfig.multi_step_ff.steps">
        </td>
      </tr>
      <tr>
        <td>Max Step</td>
        <td>
          <input type="number" class="full-width"
            [(ngModel)]="simulationService.simulationConfig.multi_step_ff.max_step">
        </td>
      </tr>
      <tr>
        <td>Time Step</td>
        <td>
          <input type="number" class="full-width"
            [(ngModel)]="simulationService.simulationConfig.multi_step_ff.time_step">
        </td>
      </tr>
      <tr>
        <td>Max Time</td>
        <td>
          <input type="number" class="full-width"
            [(ngModel)]="simulationService.simulationConfig.multi_step_ff.max_time">
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="full-width text-right">
          <button type="button" class="btn btn-primary" (click)="onRunMultiStepFF()">
            <i class="fas fa-play"></i>
            <span>Run</span>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="blockHeader" (click)="simulationService.setMode(simulationService.REPLICATION)"
    [ngClass]="simulationService.mode === simulationService.REPLICATION ? 'enabled' : 'disabled'">
    <i class="fas fa-copy"></i>
    <span>Replication</span>
  </div>
  <div class="note" [ngClass]="{'expanded': simulationService.mode === simulationService.REPLICATION }">
    <table>
      <tr>
        <td>Repeat</td>
        <td>
          <input type="number" value="30" class="full-width"
            [(ngModel)]="simulationService.simulationConfig.replication.repeat">
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="full-width text-right">
          <button type="button" class="btn btn-primary" (click)="onRunReplication()">
            <i class="fas fa-play"></i>
            <span>Run</span>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="blockHeader" (click)="simulationService.setMode(simulationService.PLAY_OUT)"
  [ngClass]="simulationService.mode === simulationService.PLAY_OUT ? 'enabled' : 'disabled'">
  <i class="fas fa-copy"></i>
  <span>Play Out Recorded Events</span>
</div>
<div class="note" [ngClass]="{'expanded': simulationService.mode === simulationService.PLAY_OUT }">
  <table>
    <tr>
      <td>Case Id</td>
      <td>
        <input type="text" class="full-width"
          [(ngModel)]="simulationService.simulationConfig.playOut.caseId">
      </td>
    </tr>
    <tr>
      <td>Starting Moment</td>
      <td>
        <input type="datetime-local" class = "full-width"
          [(ngModel)]="simulationService.simulationConfig.playOut.startDateTime">
      </td>
    </tr>
    <tr>
      <td>Time Unit</td>
      <td>
        <select name="timeUnit" id="timeUnit" [(ngModel)]="simulationService.simulationConfig.playOut.timeUnit">
          <option value="years">years</option>
          <option value="months">months</option>
          <option value="weeks">weeks</option>
          <option value="days">days</option>
          <option value="hours">hours</option>
          <option value="minutes">minutes</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Lifecycle Transition Attribute</td>
      <td>
        <select name="recordedEvents" id="recordedEvents" [(ngModel)]="simulationService.simulationConfig.playOut.recordedEvents">
          <option value="start">start</option>
          <option value="complete">complete</option>
          <option value="start+complete">start+complete</option>
          <option value="in transition name">in transition name</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Keep Information on Event Level</td>
      <td>
        <input type = "checkbox" id="informationLevelIsEvent" [(ngModel)]="simulationService.simulationConfig.playOut.informationLevelIsEvent"> 
      </td>
    </tr>
    <tr>
      <td>Log Format</td>
      <td>
        <select name="exportType" id="exportType" [(ngModel)]="simulationService.simulationConfig.playOut.exportType">
          <option value="csv">csv</option>
          <option value="xes">xes</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="full-width text-right">
        <button type="button" class="btn btn-primary" (click)="onRunPlayOut()">
          <i class="fas fa-play"></i>
          <span>Run</span>
        </button>
      </td>
    </tr>
    
  </table>
</div>

</div>