<app-main-toolbar></app-main-toolbar>

<div class="split-container" style="overflow-y:hidden;">

  <as-split direction="horizontal" style="overflow-y:hidden" [gutterSize]="gutterSize" useTransition=true>

    <as-split-area style="overflow-y:hidden" [size]="leftSplitPaneSize">

      <!-- Project explorer -->
      <!-- <app-project-explorer></app-project-explorer> -->

      <as-split direction="vertical" [gutterSize]="gutterSize" useTransition=true>

        <as-split-area [size]="50" style="overflow-y:hidden">
          <app-project-explorer></app-project-explorer>
        </as-split-area>

        <as-split-area [size]="50" style="overflow-y:hidden">
          <app-project-details></app-project-details>
        </as-split-area>

      </as-split>

    </as-split-area>

    <as-split-area style="overflow-y:hidden" [size]="centerSplitPaneSize">

      <as-split direction="vertical" [gutterSize]="gutterSize" useTransition=true>

        <!-- Editor -->
        <as-split-area style="overflow-y:hidden" [size]="editorSplitPaneSize">
          <app-editor-panel [readyPagesIds]="accessCpnService.readyPagesIds"
            [errorPagesIds]="accessCpnService.errorPagesIds"></app-editor-panel>
        </as-split-area>

        <!-- Console -->
        <as-split-area style="overflow-y:hidden" [size]="consoleSplitPaneSize">
          <app-project-console></app-project-console>
        </as-split-area>

      </as-split>

    </as-split-area>

    <as-split-area style="overflow-y:hidden;" [size]="rightSplitPaneSize">
      <app-properties-panel></app-properties-panel>
    </as-split-area>
  </as-split>

</div>