<!--<div style="padding: 4px 10px; background: #ccc; height:26px">-->
<!--{{title }} {{   nodes.length > 0 ? ' - ' + nodes[0].value : ''}}-->
<!--</div>-->

<!--<div class="blockHeader">-->
<!--{{title + (nodes.length > 0 ? ' (id = ' + nodes[0].value + ')' : '')}}-->
<!--</div>-->

<div class="blockHeader">
  {{title}}
</div>

<div style="overflow-y: auto; height:100%; padding-bottom: 50px">

  <div *ngIf="cpnElement">

    <!----------------->
    <!-- Common part -->
    <!----------------->
    <div style="width:100%">

      <!-- Name (if no arc) -->
      <app-text-edit-row *ngIf="!cpnElement._orientation" name="Name" [object]="cpnElement" field="text"
        (changed)="updateChanges()">
      </app-text-edit-row>

      <!-- Shape Labels -->
      <div *ngFor="let labelKey of ['initmark', 'type', 'cond', 'time', 'code', 'priority', 'annot']">
        <app-text-edit-row *ngIf="cpnElement[labelKey]" [name]="names[labelKey] || labelKey"
          [object]="cpnElement[labelKey].text" field="__text" (changed)="updateChanges()">
        </app-text-edit-row>
      </div>

      <!-- Port Labels -->
      <app-text-edit-row *ngIf="cpnElement.port" type="select" name="Port type" [object]="cpnElement.port" 
        field="text" (changed)="updateChanges()" [options]="portTypes">
      </app-text-edit-row>

      <!-- Subst Labels -->
      <app-text-edit-row *ngIf="cpnElement.subst && cpnElement.subst.subpageinfo" name="Suppage"
        [object]="cpnElement.subst.subpageinfo" field="_name" (changed)="updateChanges()">
      </app-text-edit-row>

      <!-- Direction (only for acrs) -->
      <app-text-edit-row *ngIf="cpnElement._orientation" type="select" name="Direction" [object]="cpnElement"
        field="_orientation" (changed)="updateChanges()" [options]="orientations">
      </app-text-edit-row>

      <!-- Stroke color -->
      <app-text-edit-row type="color" name="Stroke color" [object]="cpnElement.lineattr" field="_colour"
        (changed)="updateChanges()" [colors]="colors">
      </app-text-edit-row>

    </div>

    <!----------------->
    <!-- Layout part -->
    <!----------------->
    <app-block-header [opened]="layoutPartOpened['common']"
      (click)="layoutPartOpened['common']=!layoutPartOpened['common']"></app-block-header>

    <div [hidden]="!layoutPartOpened['common']" style="width:100%">

      <!-- Shape Position -->
      <div *ngIf="cpnElement.posattr && !cpnElement._orientation">
        <app-text-edit-row type="int" name="X" [object]="cpnElement.posattr" field="_x" (changed)="updateChanges()">
        </app-text-edit-row>
        <app-text-edit-row type="int" name="Y" [object]="cpnElement.posattr" field="_y" (changed)="updateChanges()">
        </app-text-edit-row>
      </div>

      <!-- Shape Dimention -->
      <div *ngFor="let form of ['ellipse', 'box']">
        <app-text-edit-row type="int" name="Width" [object]="cpnElement[form]" field="_w" (changed)="updateChanges()">
        </app-text-edit-row>
        <app-text-edit-row type="int" name="Height" [object]="cpnElement[form]" field="_h" (changed)="updateChanges()">
        </app-text-edit-row>
      </div>

      <!-- Stroke thick -->
      <app-text-edit-row type="int" name="Stroke thick" [object]="cpnElement.lineattr" field="_thick"
        (changed)="updateChanges()">
      </app-text-edit-row>

      <!-- Fill color -->
      <app-text-edit-row *ngIf="!cpnElement._orientation" type="color" name="Fill color" [object]="cpnElement.fillattr"
        field="_colour" (changed)="updateChanges()" [colors]="colors">
      </app-text-edit-row>

    </div>


    <!----------------->
    <!-- Label part -->
    <!----------------->
    <div *ngFor="let labelKey of ['type', 'initmark', 'port', 'cond', 'time', 'code', 'priority', 'annot']">

      <div *ngIf="cpnElement[labelKey]">

        <app-block-header [opened]="layoutPartOpened[labelKey]" [title]="names[labelKey] || labelKey"
          (click)="layoutPartOpened[labelKey]=!layoutPartOpened[labelKey]"></app-block-header>

        <div [hidden]="!layoutPartOpened[labelKey]" style="width:100%">

          <!-- Label text -->
          <app-text-edit-row [name]="names[labelKey] || labelKey" [object]="cpnElement[labelKey].text" field="__text"
            (changed)="updateChanges()">
          </app-text-edit-row>

          <!-- Label position -->
          <app-text-edit-row type="int" name="X" [object]="cpnElement[labelKey].posattr" field="_x"
            (changed)="updateChanges()">
          </app-text-edit-row>
          <app-text-edit-row type="int" name="Y" [object]="cpnElement[labelKey].posattr" field="_y"
            (changed)="updateChanges()">
          </app-text-edit-row>

        </div>
      </div>
    </div>

  </div>

</div>