@import "./components/text-edit-row.scss";

.inputfield{
  background-color: transparent;
  border: 0px solid;
}

.typeSelector {
  border: none;
  // background: none;
  width: 100%;
}

.colorSelector {
  border: none;
  // background: none;
  width: 100%;
}
