backend/org.cpntools.accesscpn.model/build/
backend/org.cpntools.accesscpn.model.importer/build/
backend/org.cpntools.accesscpn.model.exporter/build/
backend/org.cpntools.accesscpn.engine/build/
backend/org.cpntools.accesscpn.engine.proxy/build/
backend/org.cpntools.accesscpn.engine.protocol/build/
backend/org.cpntools.accesscpn.engine.highlevel/build/
backend/org.cpntools.accesscpn.cosimulation/build/
backend/cpn-ide-back/build/
backend/org.cpntools.accesscpn.model.exporter/out/
backend/org.cpntools.accesscpn.cosimulation/out/
cpn-ide-front/documentation/coverage.html
cpn-ide-front/documentation/dependencies.html
cpn-ide-front/documentation/index.html
cpn-ide-front/documentation/modules.html
cpn-ide-front/documentation/overview.html
cpn-ide-front/documentation/routes.html
cpn-ide-front/documentation/classes/AppPage.html
cpn-ide-front/documentation/classes/AppVersion.html
cpn-ide-front/documentation/classes/BreakpointMonitorTemplate.html
cpn-ide-front/documentation/classes/Constants.html
cpn-ide-front/documentation/classes/CountTransitionOccurrencesMonitorTemplate.html
cpn-ide-front/documentation/classes/CpnServerUrl.html
cpn-ide-front/documentation/classes/DataCollectionMonitorTemplate.html
cpn-ide-front/documentation/classes/ListLengthDataCollectionMonitorTemplate.html
cpn-ide-front/documentation/classes/MarkingSizeMonitorTemplate.html
cpn-ide-front/documentation/classes/Message.html
cpn-ide-front/documentation/classes/PlaceContentBreakPointMonitorTemplate.html
cpn-ide-front/documentation/classes/SelectedNode.html
cpn-ide-front/documentation/classes/SplitSizes.html
cpn-ide-front/documentation/classes/TransitionEnabledBreakPointMonitorTemplate.html
cpn-ide-front/documentation/classes/TreeData.html
cpn-ide-front/documentation/classes/UserDefinedMonitorTemplate.html
cpn-ide-front/documentation/classes/WriteInFileMonitorTemplate.html
cpn-ide-front/documentation/components/AppComponent.html
cpn-ide-front/documentation/components/ApplicationSettingsComponent.html
cpn-ide-front/documentation/components/BlockHeaderComponent.html
cpn-ide-front/documentation/components/ContextMenuComponent.html
cpn-ide-front/documentation/components/DialogComponent.html
cpn-ide-front/documentation/components/DialogLogComponent.html
cpn-ide-front/documentation/components/EditorPanelComponent.html
cpn-ide-front/documentation/components/MainFrameComponent.html
cpn-ide-front/documentation/components/MainToolbarComponent.html
cpn-ide-front/documentation/components/MlEditorComponent.html
cpn-ide-front/documentation/components/ModelEditorComponent.html
cpn-ide-front/documentation/components/ModelEditorToolbarComponent.html
cpn-ide-front/documentation/components/ProjectConsoleComponent.html
cpn-ide-front/documentation/components/ProjectDeclarationsBlockNodeComponent.html
cpn-ide-front/documentation/components/ProjectDeclarationsComponent.html
cpn-ide-front/documentation/components/ProjectDetailsComponent.html
cpn-ide-front/documentation/components/ProjectExplorerComponent.html
cpn-ide-front/documentation/components/ProjectMonitorsComponent.html
cpn-ide-front/documentation/components/ProjectTreeBlockNodeComponent.html
cpn-ide-front/documentation/components/ProjectTreeComponent.html
cpn-ide-front/documentation/components/ProjectTreeDeclarationNodeComponent.html
cpn-ide-front/documentation/components/ProjectTreeMonitorblockNodeComponent.html
cpn-ide-front/documentation/components/ProjectTreeMonitorNodeComponent.html
cpn-ide-front/documentation/components/ProjectTreeOptionNodeComponent.html
cpn-ide-front/documentation/components/ProjectTreeOptionsNodeComponent.html
cpn-ide-front/documentation/components/ProjectTreePageNodeComponent.html
cpn-ide-front/documentation/components/ProjectTreeToolbarComponent.html
cpn-ide-front/documentation/components/PropertiesPanelComponent.html
cpn-ide-front/documentation/components/SimulationPanelComponent.html
cpn-ide-front/documentation/components/TabComponent.html
cpn-ide-front/documentation/components/TabsContainer.html
cpn-ide-front/documentation/components/TextEditRowComponent.html
cpn-ide-front/documentation/components/TreeNodeComponent.html
cpn-ide-front/documentation/fonts/ionicons.eot
cpn-ide-front/documentation/fonts/ionicons.svg
cpn-ide-front/documentation/fonts/ionicons.ttf
cpn-ide-front/documentation/fonts/ionicons.woff
cpn-ide-front/documentation/fonts/ionicons.woff2
cpn-ide-front/documentation/fonts/roboto-v15-latin-300.eot
cpn-ide-front/documentation/fonts/roboto-v15-latin-300.svg
cpn-ide-front/documentation/fonts/roboto-v15-latin-300.ttf
cpn-ide-front/documentation/fonts/roboto-v15-latin-300.woff
cpn-ide-front/documentation/fonts/roboto-v15-latin-300.woff2
cpn-ide-front/documentation/fonts/roboto-v15-latin-700.eot
cpn-ide-front/documentation/fonts/roboto-v15-latin-700.svg
cpn-ide-front/documentation/fonts/roboto-v15-latin-700.ttf
cpn-ide-front/documentation/fonts/roboto-v15-latin-700.woff
cpn-ide-front/documentation/fonts/roboto-v15-latin-700.woff2
cpn-ide-front/documentation/fonts/roboto-v15-latin-italic.eot
cpn-ide-front/documentation/fonts/roboto-v15-latin-italic.svg
cpn-ide-front/documentation/fonts/roboto-v15-latin-italic.ttf
cpn-ide-front/documentation/fonts/roboto-v15-latin-italic.woff
cpn-ide-front/documentation/fonts/roboto-v15-latin-italic.woff2
cpn-ide-front/documentation/fonts/roboto-v15-latin-regular.eot
cpn-ide-front/documentation/fonts/roboto-v15-latin-regular.svg
cpn-ide-front/documentation/fonts/roboto-v15-latin-regular.ttf
cpn-ide-front/documentation/fonts/roboto-v15-latin-regular.woff
cpn-ide-front/documentation/fonts/roboto-v15-latin-regular.woff2
cpn-ide-front/documentation/graph/dependencies.svg
cpn-ide-front/documentation/images/compodoc-vectorise-inverted.png
cpn-ide-front/documentation/images/compodoc-vectorise-inverted.svg
cpn-ide-front/documentation/images/compodoc-vectorise.png
cpn-ide-front/documentation/images/compodoc-vectorise.svg
cpn-ide-front/documentation/images/coverage-badge-documentation.svg
cpn-ide-front/documentation/images/favicon.ico
cpn-ide-front/documentation/injectables/AccessCpnService.html
cpn-ide-front/documentation/injectables/ApplicationService.html
cpn-ide-front/documentation/injectables/BufferService.html
cpn-ide-front/documentation/injectables/EditorPanelService.html
cpn-ide-front/documentation/injectables/EventService.html
cpn-ide-front/documentation/injectables/FileService.html
cpn-ide-front/documentation/injectables/IpcService.html
cpn-ide-front/documentation/injectables/ModelService.html
cpn-ide-front/documentation/injectables/ProjectService.html
cpn-ide-front/documentation/injectables/SettingsService.html
cpn-ide-front/documentation/injectables/SimulationService.html
cpn-ide-front/documentation/injectables/ValidationService.html
cpn-ide-front/documentation/interfaces/ITreeNode.html
cpn-ide-front/documentation/interfaces/MonitorTemplate.html
cpn-ide-front/documentation/js/compodoc.js
cpn-ide-front/documentation/js/lazy-load-graphs.js
cpn-ide-front/documentation/js/menu-wc.js
cpn-ide-front/documentation/js/menu.js
cpn-ide-front/documentation/js/routes.js
cpn-ide-front/documentation/js/sourceCode.js
cpn-ide-front/documentation/js/svg-pan-zoom.controls.js
cpn-ide-front/documentation/js/tabs.js
cpn-ide-front/documentation/js/tree.js
cpn-ide-front/documentation/js/libs/bootstrap-native.js
cpn-ide-front/documentation/js/libs/clipboard.min.js
cpn-ide-front/documentation/js/libs/custom-elements-es5-adapter.js
cpn-ide-front/documentation/js/libs/custom-elements.min.js
cpn-ide-front/documentation/js/libs/d3.v3.min.js
cpn-ide-front/documentation/js/libs/deep-iterator.js
cpn-ide-front/documentation/js/libs/es6-shim.min.js
cpn-ide-front/documentation/js/libs/EventDispatcher.js
cpn-ide-front/documentation/js/libs/htmlparser.js
cpn-ide-front/documentation/js/libs/innersvg.js
cpn-ide-front/documentation/js/libs/lit-html.js
cpn-ide-front/documentation/js/libs/prism.js
cpn-ide-front/documentation/js/libs/promise.min.js
cpn-ide-front/documentation/js/libs/svg-pan-zoom.min.js
cpn-ide-front/documentation/js/libs/tablesort.min.js
cpn-ide-front/documentation/js/libs/tablesort.number.min.js
cpn-ide-front/documentation/js/libs/vis.min.js
cpn-ide-front/documentation/js/libs/zepto.min.js
cpn-ide-front/documentation/js/routes/routes_index.js
cpn-ide-front/documentation/js/search/lunr.min.js
cpn-ide-front/documentation/js/search/search_index.js
cpn-ide-front/documentation/js/search/search-lunr.js
cpn-ide-front/documentation/js/search/search.js
cpn-ide-front/documentation/miscellaneous/functions.html
cpn-ide-front/documentation/miscellaneous/typealiases.html
cpn-ide-front/documentation/miscellaneous/variables.html
cpn-ide-front/documentation/modules/AppModule.html
cpn-ide-front/documentation/modules/AppRoutingModule.html
cpn-ide-front/documentation/modules/TabModule.html
cpn-ide-front/documentation/modules/AppModule/dependencies.svg
cpn-ide-front/documentation/modules/TabModule/dependencies.svg
cpn-ide-front/documentation/pipes/ColorDeclarationsPipe.html
cpn-ide-front/documentation/pipes/MonitorNamePipe.html
cpn-ide-front/documentation/pipes/OptionsNamePipePipe.html
cpn-ide-front/documentation/pipes/RegexPipe.html
cpn-ide-front/documentation/pipes/ReplaceSpacesPipe.html
cpn-ide-front/documentation/pipes/SafeHtmlPipe.html
cpn-ide-front/documentation/pipes/SimulationReportPipe.html
cpn-ide-front/documentation/styles/bootstrap-card.css
cpn-ide-front/documentation/styles/bootstrap.min.css
cpn-ide-front/documentation/styles/compodoc.css
cpn-ide-front/documentation/styles/ionicons.min.css
cpn-ide-front/documentation/styles/laravel.css
cpn-ide-front/documentation/styles/material.css
cpn-ide-front/documentation/styles/original.css
cpn-ide-front/documentation/styles/postmark.css
cpn-ide-front/documentation/styles/prism.css
cpn-ide-front/documentation/styles/readthedocs.css
cpn-ide-front/documentation/styles/reset.css
cpn-ide-front/documentation/styles/stripe.css
cpn-ide-front/documentation/styles/style.css
cpn-ide-front/documentation/styles/tablesort.css
cpn-ide-front/documentation/styles/vagrant.css
cpn-ide-front/.vs/ProjectSettings.json
cpn-ide-front/.vs/slnx.sqlite
cpn-ide-front/.vs/VSWorkspaceState.json
cpn-ide-front/.vs/cpn-ide-front/project-colors.json
cpn-ide-front/.vs/cpn-ide-front/v17/.suo
cpn-ide-front/.vs/cpn-ide-front/v17/workspaceFileList.bin
cpn-ide-front/electron/installer/cpn-ide-1.22.0128.setup.exe
cpn-ide-front/node_modules.moved.zip
.gitignore
package-lock.json
