td.blockHeader {
  padding: 0;
}

td.block-header {
  padding: 0;
}

td.editablenode {
  padding: 0;
  padding-left: 2px;
}

div.editablenode {
  padding: 5px 10px;
  white-space: pre;
  overflow-x: visible;
}

.scroll-y {
  overflow-y: scroll;
}
