.table {
    border: none;
    margin: 0;
}

.table tr, .table td {
    border: none;
}

.title {
    width: 1px;
    white-space: nowrap;
    padding: 0.5em 1em;
    text-align: left;
    font-weight: bold;
    color: gray;
}

[contenteditable] {
    padding: 0.5em 1em;
    border: 1px solid #ddd !important;
    background: #f9f9f9;
    border-radius: 4px;
}