@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import "./../node_modules/angular-tree-component/dist/angular-tree-component.css";
@import "./../node_modules/diagram-js/assets/diagram-js.css";

@import "./lib/cpn-js/resources/bpmn-font/css/bpmn.css";
@import "./assets/fontawesome/css/all.min.css";

html {
  background: rgb(248, 249, 250);
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // font-family: 'Courier New', Courier, monospace;
  font-size: 12px;

  margin: 0;
  height: 100%;
  overflow: hidden;
}

// Diagram JS
// ---------------------------------------------------------------------------------
.palette-icon-lasso-tool {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%20stroke-dasharray%3D%225%2C%205%22%20width%3D%2246%22%20height%3D%2246%22%3E%3Crect%20x%3D%2210%22%20y%3D%2210%22%20width%3D%2226%22%20height%3D%2226%22%2F%3E%3C%2Fsvg%3E");
}

.palette-icon-create-shape {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%20width%3D%2246%22%20height%3D%2246%22%3E%3Crect%20x%3D%2210%22%20y%3D%2213%22%20width%3D%2226%22%20height%3D%2220%22%2F%3E%3C%2Fsvg%3E");
}

.palette-icon-connect {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%20width%3D%2246%22%20height%3D%2246%22%3E%3Cline%20x1%3D%2215%22%20y1%3D%225%22%20x2%3D%225%22%20y2%3D%2215%22%2F%3E%3C%2Fsvg%3E") !important;
}

// Context pad

.context-pad-icon-remove {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%20width%3D%2246%22%20height%3D%2246%22%3E%3Cline%20x1%3D%225%22%20y1%3D%225%22%20x2%3D%2215%22%20y2%3D%2215%22%2F%3E%3Cline%20x1%3D%2215%22%20y1%3D%225%22%20x2%3D%225%22%20y2%3D%2215%22%2F%3E%3C%2Fsvg%3E") !important;
}

.context-pad-icon-connect {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%20width%3D%2246%22%20height%3D%2246%22%3E%3Cline%20x1%3D%2215%22%20y1%3D%225%22%20x2%3D%225%22%20y2%3D%2215%22%2F%3E%3C%2Fsvg%3E") !important;
}

.djs-context-pad {
  background: white;
  border: 1px solid gray;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
}

.djs-context-pad .entry {
  margin: 4px 4px 0px 4px;
}

// .djs-context-pad .entry:hover {
//   background: #efefef99 !important;
// }

// Popup menu

.popup-menu-separator {
  content: " ";
  height: 16px;
}

.popup-menu-icon-new-place::before {
  content: "\e845";
}

.popup-menu-icon-connect::before {
  content: " ";
  width: 22px;
  height: 16px;
  display: inline-block;
  background: no-repeat
    url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%20width%3D%2246%22%20height%3D%2246%22%3E%3Cline%20x1%3D%2215%22%20y1%3D%225%22%20x2%3D%225%22%20y2%3D%2215%22%2F%3E%3C%2Fsvg%3E") !important;
}

.popup-menu-icon-delete::before {
  content: " ";
  width: 22px;
  height: 16px;
  display: inline-block;
  background: no-repeat
    url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%221.5%22%20width%3D%2246%22%20height%3D%2246%22%3E%3Cline%20x1%3D%225%22%20y1%3D%225%22%20x2%3D%2215%22%20y2%3D%2215%22%2F%3E%3Cline%20x1%3D%2215%22%20y1%3D%225%22%20x2%3D%225%22%20y2%3D%2215%22%2F%3E%3C%2Fsvg%3E") !important;
}

.djs-popup {
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border: 1px solid gray;
}

.djs-popup-body div {
  padding: 3px 5px !important;
}

// cpnjs

.cpnjs-shadow-error {
  filter: drop-shadow(2px 0 5px red);
}

// ---------------------------------------------------------------------------------

// Nav bar separator
// ---------------------------------------------------------------------------------
.divider {
  width: 1px;
  height: auto;
  margin: 0 9px;
  overflow: hidden;
  background-color: lightgray;
}

// ---------------------------------------------------------------------------------

// Tables
// ---------------------------------------------------------------------------------
.table-small {
  margin-bottom: 0px;
}

.table-small th {
  padding: 4px 10px 3px 10px;
  background: #efefef;
  font-size: 0.9em;
  color: #777;
}

.table-small td {
  padding: 5px 10px;
}

.table .valueName {
  font-size: 0.9em;
  color: #999;
  width: 50%;
}

.table tbody + tbody {
  border: none;
}

// Blocks
// ---------------------------------------------------------------------------------

.iconNew{
  padding: 0 10px;
}
.blockHeader {
  //padding: 0 10px;
  padding-top: 5px;

  background: #f3f3f3;
  height: 27px;

  //color: #777;
  //font-weight: normal;
  color: black;
  font-weight: bold;

  font-size: 0.9em;
  border-bottom: 1px solid lightgrey;
  vertical-align: middle;

  cursor: pointer;

  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}


.headerTitle {
  padding: 0 10px;
  color: black;
  font-weight: bold;

}

.blockHeader .caret {
  font-size: 1.1em;
  margin-right: 7px;
  color: black;
}

.blockHeader .active {
}

// ---------------------------------------------------------------------------------

.navbar {
  padding: 2px 2px !important;
  border-bottom: 1px solid lightgrey;
  vertical-align: middle;

  .nav-item {
    margin: 0 1px;
    white-space: nowrap;
  }

  .nav-link {
    // color: black;
    white-space: nowrap;
    transition: background 500ms, color 500ms;
  }

  .nav-link img {
    padding-right: 5px;
    vertical-align: top;
  }

  // .nav-link i {
  //   margin-right: 7px;
  // }
  .nav-link span {
    margin-left: 7px;
  }

  .nav-link:hover {
    cursor: pointer;
    background: #eee;
    color: darkorange;
    border-radius: 4px;
    transition: background 500ms, color 500ms;
  }
}

.navbar-sm {
  background: #f3f3f3;
  padding: 3px 1px !important;
  border-bottom: 1px solid lightgrey;
  vertical-align: middle;
  font-size: 1em;

  .nav-item {
    margin: 0;
    padding: 0 3px;
  }

  .nav-link {
    color: #666;
    padding: 2px;
    transition: background 500ms, color 500ms;
  }

  .divider {
    padding: 0;
    margin: 0;
  }

  .nav-link:hover {
    cursor: pointer;
    background: #ddd;
    color: darkorange;
    border-radius: 4px;
    transition: background 500ms, color 500ms;
  }
}

// dropdown
// ---------------------------------------------------------------------------------

.dropdown-menu {
  z-index: 10000 !important;
}

.dropdown-item i {
  margin-right: 10px;
}
.djs-popup-body .entry span {
  margin-right: 5px;
}

// table
// ---------------------------------------------------------------------------------

.table-bordered {
  margin-left: -1px !important;
  margin-top: -1px !important;
}

// tree
// ---------------------------------------------------------------------------------

.node-content-wrapper {
  padding: 0px !important;
}

// Workspace container
// ---------------------------------------------------------------------------------
.scroll-container {
  height: calc(100% - 100px);
  overflow-y: auto;
  overflow-x: hidden;

  .pane {
    z-index: 1;
  }
}

.tab-container {
  height: calc(100% - 26px);
  overflow-y: auto;
  overflow-x: hidden;

  .pane {
    z-index: 1;
  }
}

.tab-container-with-toolbar {
  height: calc(100% - 52px);
  overflow-y: auto;
  overflow-x: hidden;

  .pane {
    z-index: 1;
  }
}

// cpn-js icons

[class^="cpn-js-icon-"]:before,
[class*=" cpn-js-icon-"]:before {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin: 0.1em;
  text-align: center;
  opacity: 0.8;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  transform: scale(1, 0.8);

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.djs-context-pad {
  [class^="cpn-js-icon-"]:before,
  [class*=" cpn-js-icon-"]:before {
    margin: 0;
  }
}

.cpn-js-icon-transition:before {
  // content: "\f0c8";
  content: url("./assets/img/trans.png");
}

.cpn-js-icon-place:before {
  content: "\f111";
}
.cpn-js-icon-aux:before {
  content: "\f249";
}
.cpn-js-icon-run:before {
  content: "\f144";
}
.cpn-js-icon-trash:before {
  content: "\f2ed";
}
.cpn-js-icon-paste:before {
  content: "\f328";
}
.cpn-js-icon-subpage:before {
  content: "\f24d";
}
.cpn-js-icon-connection:before {
  content: "\f35d";
}


.testClassForShape{
  box-shadow: 10px 5px 5px red;
}
