<tabs #tabsComponent class="cpn-tabs">
  <!-- <ng-template ngFor let-tab [ngForOf]="tabList"> -->

  <ng-container *ngFor="let tab of tabList">

    <tab *ngIf="tab" [id]="tab.id" [tabTitle]="tab.name">

      <!-- Project details table -->
      <!--------------------------->

      <div class="tab-container">

        <div class="pane">

          <div style="margin:-1px">

            <table class="table table-bordered table-hover table-small">
              <tr *ngFor="let node of getNodes(tab.id)">

                <td
                  [ngClass]="{'blockHeader': node.type === 'block', 'editablenode': node.type !== 'block', 'node-highlight-error': isError(node.id)}">
                  <!-- <div *ngIf="node.type === 'block'">
                          {{ node.text }}
                        </div> -->

                  <div [id]="'textinpfield_' + node.id" class="editablenode" [contentEditable]="true"
                    (focusin)="onNodeClick($event, node)" (click)="onNodeClick($event, node)"
                    (dblclick)="onNodeDblClick($event, node)" (focusout)="saveEditedData($event, node)"
                    [innerHTML]="node.text | colorDeclarations | safeHtml">
                  </div>
                </td>

              </tr>
            </table>

          </div>

        </div>
      </div>

    </tab>

  </ng-container>
  <!-- </ng-template> -->
</tabs>
