
<!-- Text input -->
<div class="valueRow" [ngClass]="{'bordered': bordered}" *ngIf="object && type === 'text'">
  <div class="valueName">{{name}}</div>
  <div class="value" [ngClass]="{'value-readonly': readonly, 'pre': pre}" [contentEditable]="!readonly"
    [textContent]="object[field]" (keydown)="onKeydown($event);" (focusout)="onChange($event);">
  </div>
</div>

<!-- Integer value input -->
<div class="valueRow" [ngClass]="{'bordered': bordered}" *ngIf="object && type === 'int'">
  <div class="valueName">{{name}}</div>
  <div class="value" [ngClass]="{'value-readonly': readonly, 'pre': pre}" [contentEditable]="!readonly"
    [textContent]="parseInt(object[field], 0)" (keydown)="onKeydown($event);" (focusout)="onChange($event);">
  </div>
</div>

<!-- Color input -->
<div class="valueRow" [ngClass]="{'bordered': bordered}" *ngIf="object && type === 'color'">
  <div class="valueName">{{name}}</div>
  <div class="selector">
    <input type="color" list="color" class="colorSelector" [value]="name2color(object[field])"
      (input)="onChange($event);" />
    <datalist id="colorCommon">
      <option *ngFor="let color of colors">{{color}}</option>
    </datalist>
  </div>
</div>

<!-- ColorGroup input -->
<div class="valueRow" [ngClass]="{'bordered': bordered}" *ngIf="selectedElements && selectedElements.length > 0 && type === 'groupColor'">
  <div class="valueName">{{name}}</div>
  <div class="selector">
    <input type="color" list="color" class="colorSelector" [value]="name2color(object[field])"
           (input)="onChange($event);" />
    <datalist id="colorCommon">
      <option *ngFor="let color of colors">{{color}}</option>
    </datalist>
  </div>
</div>


<!-- Select input -->
<div class="valueRow" [ngClass]="{'bordered': bordered}" *ngIf="object && type === 'select'">
  <div class="valueName">{{name}}</div>
  <div class="selector">
    <select class="typeSelector" required [(ngModel)]='object[field]' (ngModelChange)='onChange($event);'>
      <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
    </select>
  </div>
</div>

<!-- ML input -->
<div class="valueRow" [ngClass]="{'bordered': bordered}" *ngIf="object && type === 'ml'">
  <div class="value" [ngClass]="{'value-readonly': readonly, 'pre': pre}" [contentEditable]="!readonly"
    [innerHTML]="object[field] | colorDeclarations | safeHtml" (keydown)="onKeydown($event);"
    (focusout)="onChange($event);">
    <!-- (dblclick)="onDblClick($event)"     -->
  </div>
</div>
