div.valueRow {
  display: table;
  width: 100%;
  padding-right: 2px;
}

div.bordered {
  border-bottom: 1px solid lightgrey;
}

div.valueRow:hover {
  background: #efefef;
}

div.valueName {
  display: table-cell;
  vertical-align: middle;
  width: 49%;
  padding: 5px 10px;
  border-right: 1px solid lightgrey;
  font-size: 0.9em;
  color: #999;
}

div.value {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 5px 10px;
}

div.selector {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 2pt 1pt;
}

div.value-readonly {
  color: grey;
}

.typeSelector {
  padding: 3pt;
  border: none;
  background: #eee;
  width: 100%;
}

.colorSelector {
  padding: 0;
  border: none;
  background: #eee;
  width: 100%;
}

[contenteditable] {
  font-family: 'Courier New', Courier, monospace;
}

.pre {
  white-space: pre;
}
