<nav class="navbar navbar-expand-lg navbar-light bg-light flex-nowrap" style="border-bottom: 1px solid lightgray">
  <ul class="navbar-nav mr-auto pt-0">
    <!-- Open project -->
    <li class="nav-item">
      <app-openproject-button></app-openproject-button>
    </li>

    <!-- Save project -->
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-save" aria-hidden="true"></i>
      </a>
    </li>
  </ul>

  <!-- Search -->
  <form class="form-inline my-0 my-lg-0">
    <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
    <!-- <button class="btn btn-outline-success my-0 my-sm-0" type="submit">Search</button> -->
  </form>
</nav>