<div id="projectDeclarationsComponentContainer" style="width: 100%; height: 100%;">

  <tabs class="cpn-tabs">

    <ng-container *ngFor="let tab of tabList">
      <tab *ngIf="tab" [id]="tab.id" [tabTitle]="tab.name">

        <!-- Project tree toolbar -->
        <app-project-tree-toolbar (newNode)="onNewNode()" (deleteNode)="onDeleteNode()" (upNode)="onUpNode()"
          (downNode)="onDownNode()" [filterText]="tree.filter" (filterChanged)="onFilterChanged($event)" (contextMenu)="onContextMenu($event)" [tab] = "tab">
        </app-project-tree-toolbar>

        <div [id]="tab.id" class="tab-container-with-toolbar">
          <ng-container *ngIf="cpnet">
            <ng-container *ngIf="['all', 'globref', 'color', 'var', 'ml'].includes(tab.id)">
              <ng-container *ngFor="let globbox of nodeToArray(cpnet.globbox)">
                  <ng-container *ngFor="let block of nodeToArray(globbox.block)" >
                    <app-project-declarations-block-node  [containerId]="tab.id" [tree]="tree" [block]="block"
                      [declarationType]="tab.declarationType"  (contextMenu)="onContextMenu($event)"  [listener] = "onContextMenu">
                    </app-project-declarations-block-node>
                  </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="['monitor'].includes(tab.id)">
              <div class="blockHeader">
                <!-- {{ (parentBlock ? parentBlock.id  + '  >  ' : '') + block.id }} -->

<!--                <span >{{ parentBlock._name }}</span>-->
<!--                <i *ngIf="parentBlock" class="fas fa-arrow-right arrow"></i>-->

                <a  style="color: black" href="#" id="dropdownMenuLinkMonitor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="New">
                  <i class="fas fa-plus iconNew"></i>
                  <span class="headerTitle" >Monitors</span>
                </a>

                <div class="dropdown-menu list-elements" aria-labelledby="dropdownMenuLinkMonitor">
                  <a class="dropdown-item" href="#" (click)="onContextMenu({event: $event, type: 'monitor', block: cpnet.monitorblock.monitorblock})"><i class="fas fa-plus"></i> Monitor</a>
                </div>
              </div>
              <ng-container *ngFor="let monitorBlock of nodeToArray(cpnet.monitorblock.monitorblock)">
                <div style="padding-left: 20px; background-color: lightgray;">
                  <app-project-declarations-block-node [containerId]="tab.id" [tree]="tree" [block]="monitorBlock"
                                                       [declarationType]="'monitorblock'" [parentBlock]="cpnet.monitorblock" (contextMenu)="onContextMenu($event)" [listener] = "onContextMenu" >
                  </app-project-declarations-block-node>
                </div>
              </ng-container>
              <ng-container *ngFor="let monitor of nodeToArray(cpnet.monitorblock.monitor)">
                <div  style="padding: 5px; background-color: white; border-bottom: 1px solid lightgray;">
                    <app-project-tree-declaration-node [containerId]="tab.id" [tree]="tree" [parentBlock]="cpnet.monitorblock"
                                                       [declaration]="monitor" [type]="'monitor'">
                    </app-project-tree-declaration-node>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>

        </div>

      </tab>
    </ng-container>

  </tabs>

  <app-context-menu #contextMenu></app-context-menu>

</div>
