.tree-project {
  font-weight: 700;
}

label.node {
  margin: 0;
  padding: 3px 5px;
  white-space: pre-wrap;
}

.navbar-sm {
  input {
    width: 80px;
    border: none;
    padding: 2px 4px;
  }

  .btn-close i {
    color: gray;
    margin: 0 !important;
  }
}

.dropdown-menu-fixed {
  position: fixed !important;
}

td.node-highlight-bottom {
  border-bottom: solid #007bff 1px;
}

td.node-highlight-all {
  border: solid #007bff 1px;
}

.node {
  border: solid transparent 1px;
}

.editablenode {
  white-space: pre;
  overflows-x: visible;
}

.table-textarea {
  margin: 0;
}

.table-textarea td {
  white-space: pre-wrap;
  vertical-align: top;
  padding: 0;
}
