.tree-project {
  font-weight: 700;
}

label.node {
  margin: 0;
  padding: 3px 5px;
}

.navbar-sm {
  input {
    width: 80px;
    border: none;
    padding: 2px 4px;
  }

  .btn-close i {
    color: gray;
    margin: 0 !important;
  }
}

.dropdown-menu-fixed {
  position: fixed !important;
}

label.node-underline {
  text-decoration: solid #007bff underline;
  //border-bottom: solid #007bff 2px;
}

.btn-more {
  cursor:pointer;
  border: solid grey 1px;
  background-color: #e9ecef;
  border-radius: 3px;
  font-size: 7px;
  padding: 0 3px;
  white-space: nowrap;
}
