<div class="blockHeader">
  Code
</div>

<div class="tab-container-with-toolbar">
  <div class="pane" style="padding:0">

    <!-- <textarea ref-textarea
          style="width:100%; height:100%; padding: 10px; border:none; resize:none"
          [(ngModel)]="textValue | colorDeclarations | safeHtml"
          (keyup)="textareaKeyUp($event)"></textarea> -->

    <div style="width:100%; height:100%; padding: 10px; border:none; resize:none" (focusout)="saveEditedData($event)"
      [contentEditable]="true" [innerHTML]="textValue | colorDeclarations | safeHtml" (keyup)="onKeyUp($event)">
    </div>

  </div>
</div>
