<div class="workspace-container-with-tab">
  <div class="inner">
    <!-- <div class="scroll-y"> -->
      <!-- <div class="pane" style="padding:10px"> -->

        <div class="blockHeader">
          Functions
        </div>
        <textarea ref-textarea 
          style="width:100%; height:100%; padding: 10px; border:none; resize:none" 
          [(ngModel)]="textValue"
          (keyup)="textareaKeyUp($event)" [value]="functionsText"></textarea>

      <!-- </div> -->
    <!-- </div> -->
  </div>
</div>