<ng-container *ngIf="hasSubpages(); else elseBlock">

  <app-tree-node [id]="page._id" [title]="page.pageattr._name" [expanded]="expanded" [selected]="selected"
    [type]="'page'" [cpnElement]="page" [editable]="!accessCpnService.isSimulation"
    [error]="accessCpnService.errorPagesIds.includes(page._id)"
    [ready]="accessCpnService.readyPagesIds.includes(page._id)">

    <ng-container *ngFor="let trans of nodeToArray(page.trans)">
      <ng-container *ngIf="trans.subst && trans.subst._subpage">
        <ng-container *ngFor="let subpage of [modelService.getPageById(trans.subst._subpage)]">

          <app-project-tree-page-node [page]="subpage" [isSubpage]="true" [subpages]="subpages" [expanded]="expanded"
            [selected]="selected">
          </app-project-tree-page-node>

        </ng-container>
      </ng-container>
    </ng-container>

  </app-tree-node>

</ng-container>

<ng-template #elseBlock>
  <div class="node" [contentEditable]="!accessCpnService.isSimulation" [textContent]="page.pageattr._name"
    (click)="selected.type = 'page'; selected.id = page._id; selected.cpnElement = page"
    (input)="page.pageattr._name=$event.target.textContent"
    [ngClass]="{'selected': selected.id === page._id, 'error': accessCpnService.errorPagesIds.includes(page._id), 'ready': accessCpnService.readyPagesIds.includes(page._id)}">
  </div>
</ng-template>