<app-tree-node [id]="block._id" [title]="block.id" [expanded]="expanded" [selected]="selected" [type]="'block'"
  [cpnElement]="block" (onclick)="onSelected()">

  <ng-container *ngIf="block.block">
    <ng-container *ngFor="let subblock of nodeToArray(block.block)">
      <app-project-tree-block-node [parentBlock]="block" [block]="subblock" [expanded]="expanded" [selected]="selected"
        [mouseover]="mouseover">
      </app-project-tree-block-node>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let globref of nodeToArray(block.globref)">
    <app-project-tree-declaration-node [parentBlock]="block" [declaration]="globref" type="globref" [selected]="selected"
      [mouseover]="mouseover"></app-project-tree-declaration-node>
  </ng-container>

  <ng-container *ngFor="let color of nodeToArray(block.color)">
    <app-project-tree-declaration-node [parentBlock]="block" [declaration]="color" type="color" [selected]="selected"
      [mouseover]="mouseover"></app-project-tree-declaration-node>
  </ng-container>

  <ng-container *ngFor="let variable of nodeToArray(block.var)">
    <app-project-tree-declaration-node [parentBlock]="block" [declaration]="variable" type="var" [selected]="selected"
      [mouseover]="mouseover"></app-project-tree-declaration-node>
  </ng-container>

  <ng-container *ngFor="let ml of nodeToArray(block.ml)">
    <app-project-tree-declaration-node [parentBlock]="block" [declaration]="ml" type="ml" [selected]="selected"
      [mouseover]="mouseover"></app-project-tree-declaration-node>
  </ng-container>

</app-tree-node>