<app-tree-node [id]="block._id" [title]="block.id" [expanded]="expanded" [selected]="selected" [type]="'block'"
  [cpnElement]="block">

  <ng-container *ngIf="block.block">
    <ng-container *ngFor="let subblock of nodeToArray(block.block)">
      <app-project-tree-block-node [block]="subblock" [expanded]="expanded" [selected]="selected">
      </app-project-tree-block-node>
    </ng-container>
  </ng-container>

  <ng-container *ngFor="let globref of nodeToArray(block.globref)">
    <app-project-tree-declaration-node [globref]="globref" [selected]="selected"></app-project-tree-declaration-node>
  </ng-container>

  <ng-container *ngFor="let color of nodeToArray(block.color)">
    <app-project-tree-declaration-node [color]="color" [selected]="selected"></app-project-tree-declaration-node>
  </ng-container>

  <ng-container *ngFor="let variable of nodeToArray(block.var)">
    <app-project-tree-declaration-node [variable]="variable" [selected]="selected"></app-project-tree-declaration-node>
  </ng-container>

  <ng-container *ngFor="let ml of nodeToArray(block.ml)">
    <app-project-tree-declaration-node [ml]="ml" [selected]="selected"></app-project-tree-declaration-node>
  </ng-container>

</app-tree-node>