<div class="tab-container">

  <!-- Project tree toolbar -->
  <app-project-tree-toolbar></app-project-tree-toolbar>

  <ng-container *ngIf="cpnet">

    <div id="tree" class="tree" (contextmenu)="contextMenu($event)" (click)="hideContextMenu()"
      (keydown)="onKeyDown($event)">

      <!-- Project root -->
      <app-tree-node id="project" [title]="'Project: ' + project.name" [expanded]="expanded" [selected]="selected"
        [showBullet]="false">

        <div class="node" [textContent]="'Step: 0'"></div>
        <div class="node" [textContent]="'Time: 0'"></div>

        <!-- Options -->
        <app-tree-node id="options" title="Options" [expanded]="expanded" [selected]="selected" [type]="'options'"
          [cpnElement]="undefined">

          <app-project-tree-options-node [optionList]="nodeToArray(cpnet.options.option)" [expanded]="expanded"
            [selected]="selected"></app-project-tree-options-node>

        </app-tree-node>


        <!-- Declarations -->
        <app-tree-node id="declarations" title="Declarations" [expanded]="expanded" [selected]="selected"
          [type]="'root'" [cpnElement]="undefined">

          <ng-container *ngFor="let globbox of nodeToArray(cpnet.globbox)">
            <ng-container *ngFor="let block of nodeToArray(globbox.block)">
              <app-project-tree-block-node [block]="block" [expanded]="expanded" [selected]="selected"
                [mouseover]="mouseover">
              </app-project-tree-block-node>
            </ng-container>
          </ng-container>

        </app-tree-node>


        <!-- Monitors -->
        <app-project-tree-monitorblock-node [monitorblock]="cpnet.monitorblock" [expanded]="expanded"
          [selected]="selected">
        </app-project-tree-monitorblock-node>

        <!-- Pages -->
        <app-tree-node id="pages" title="Pages" [expanded]="expanded" [selected]="selected" [type]="'root'"
          [cpnElement]="undefined">

          <ng-container *ngFor="let page of pages">
            <ng-container *ngIf="!subpages.includes(page._id)">
              <app-project-tree-page-node [page]="page" [subpages]="subpages" [expanded]="expanded"
                [selected]="selected">
              </app-project-tree-page-node>
            </ng-container>
          </ng-container>

        </app-tree-node>

      </app-tree-node>

    </div>

  </ng-container>
</div>


<!-- Tree node context menu -->
<div class="dropdown-menu dropdown-menu-fixed shadow" id="contextMenu">
  <a class="dropdown-item" href="#">New declaration</a>
  <a class="dropdown-item" href="#">New block</a>
  <div class="dropdown-divider" href="#"></div>
  <a class="dropdown-item" href="#">New page</a>
</div>