<div class="tab-container">
  <ng-container *ngIf="cpnet">

    <div class="tree">

      <!-- Declarations -->
      <div>
        <app-tree-node title="Declarations" [expanded]="expanded['declarations']"
          [selected]="selected.id === 'declarations'"
          (click)="expanded['declarations'] = !expanded['declarations']; selected.type = 'root'; selected.id = 'declarations'"></app-tree-node>

        <div [style.display]="expanded['declarations'] ? 'block' : 'none'">
          <ng-container *ngFor="let globbox of nodeToArray(cpnet.globbox)">
            <ng-container *ngFor="let block of nodeToArray(globbox.block)">
              <app-project-tree-block-node [block]="block" [expanded]="expanded" [selected]="selected">
              </app-project-tree-block-node>
            </ng-container>
          </ng-container>
        </div>
      </div>


      <!-- Pages -->
      <div>
        <app-tree-node title="Pages" [expanded]="expanded['pages']" [selected]="selected.id === 'pages'"
          (click)="expanded['pages'] = !expanded['pages']; selected.type = 'root'; selected.id = 'pages'">
        </app-tree-node>

        <div class="child" [style.display]="expanded['pages'] ? 'block' : 'none'">
          <ng-container *ngFor="let page of pages">
            <ng-container *ngIf="!subpages.includes(page._id)">
              <app-project-tree-page-node [page]="page" [subpages]="subpages" [expanded]="expanded"
                [selected]="selected">
              </app-project-tree-page-node>
            </ng-container>
          </ng-container>
        </div>
      </div>

    </div>

  </ng-container>
</div>
