<nav class="navbar navbar-sm navbar-expand shadow-sm">

  <ul class="navbar-nav mr-auto">

    <!-- Action buttons -->
    <div style="display: contents">

      <!-- New action -->
      <li class="nav-item">
          <!--a (click)="onNewNode()" class="nav-link" href="#" title="New">
            <i class="fas fa-plus"></i>
            <span>New</span>
          </a-->
        <a class="nav-link" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="New">
          <i class="fas fa-plus"></i>
          <span>New</span>
        </a>

        <div class="dropdown-menu list-elements" aria-labelledby="dropdownMenuLink">
         <a class="dropdown-item"  href="#" (click)="onContextMenu($event, 'color')"><i class="fas fa-plus"></i> Color</a>
         <a class="dropdown-item" href="#" (click)="onContextMenu($event, 'var')" ><i class="fas fa-plus"></i> Var</a>
         <a class="dropdown-item" href="#" (click)="onContextMenu($event, 'globref')"><i class="fas fa-plus"></i> Globref</a>
         <a class="dropdown-item" href="#" (click)="onContextMenu($event, 'monitor')"><i class="fas fa-plus"></i> Monitor</a>
         <a class="dropdown-item" href="#" (click)="onContextMenu($event, 'ml')" ><i class="fas fa-plus"></i> Ml</a>
        </div>
        <!--a (click)="onContextMenu($event)" class="nav-link" href="#" title="New">
            <i class="fas fa-plus"></i>
            <span>New</span>
          </a-->

      </li>



      <!-- Delete action -->
      <li class="nav-item">
        <a (click)="onDeleteNode()" class="nav-link" href="#" title="Delete">
          <i class="fas fa-minus"></i>
          <span >Delete</span>
        </a>
      </li>

      <div class="divider"></div>

      <!-- Up/down actions -->
      <li class="nav-item">
        <a (click)="onUpNode()" class="nav-link" href="#">
          <i class="fas fa-arrow-up"></i>
        </a>
      </li>
      <li class="nav-item">
        <a (click)="onDownNode()" class="nav-link" href="#">
          <i class="fas fa-arrow-down"></i>
        </a>
      </li>

      <div class="divider"></div>
    </div>
  </ul>

  <!-- Project tree filter -->
  <ul class="navbar-nav ml-auto">
    <li>
      <input (input)="onChangeFilter($event.target.value)" [value]="filterText" placeholder="Filter" type="text" />
    </li>
    <li class="nav-item">
      <a (click)="onChangeFilter('')" class="nav-link btn-close" href="#" title="Clear filter">
        <i class="fas fa-times"></i>
      </a>
    </li>
  </ul>

</nav>
