.navbar-sm {
  input {
    width: 80px;
    border: none;
    padding: 2px 4px;
  }

  .btn-close i {
    color: gray;
    margin: 0 !important;
  }
}
.list-elements{
  a {
    padding-right: 0px !important;
    padding-left: 10px !important;
  }
}
