<ng-container *ngIf="declaration">
  <div [id]="declaration._id" [contentEditable]="!accessCpnService.isSimulation"
    [ngClass]="{'selected': selected.id === declaration._id, 'error': accessCpnService.errorIds.includes(declaration._id), 'node': true, 'editablenode': true}"
    [innerHTML]="getText() | colorDeclarations | safeHtml" (click)="onSelected()" (contextmenu)="onSelected()"
    (focus)="focused = true; onParse($event.target.textContent)"
    (focusout)="focused = false; onUpdate($event.target.textContent)">
  </div>
  <div *ngIf="accessCpnService.errorIds.includes(declaration._id)" class="errorText">
    {{ accessCpnService.errorData[declaration._id] }}
  </div>
</ng-container>