<ng-container *ngIf="declaration">
  <div [id]="declaration._id" contenteditable="true"
    [ngClass]="{'selected': selected.id === declaration._id, 'error': elementStatusService.errorIds.includes(declaration._id), 'node': true, 'editablenode': true}"
    [innerHTML]="getText() | colorDeclarations | safeHtml"
    (focus)="focused = true; onSelected(); onParse($event.target.textContent)"
    (focusout)="focused = false; onUpdate($event.target.textContent)">
  </div>
  <div *ngIf="elementStatusService.errorIds.includes(declaration._id)" class="errorText">
    {{ elementStatusService.errorData[declaration._id] }}
  </div>
</ng-container>

