<div [ngClass]="{'selected': tree.selected.id === id, 'node': true, 'error': error, 'ready': ready}"
    [style.color]="color">
    <div class="caret" *ngIf="showBullet" (mousedown)="onExpand()">
        <i [ngClass]="tree.expanded[id] ? 'fas fa-caret-down' : 'fas fa-caret-right'"></i>
    </div>

    <div *ngIf="iconClass" class="icon">
        <i [class]="iconClass"></i>
    </div>

    <div [id]="id" class="title" [ngClass]="{ 'active' : tree.expanded[id], 'bold': bold }" [contentEditable]="editable"
        [innerHTML]="title" (mousedown)="onClick()" (contextmenu)="onContextMenu($event)" (keydown)="onKeydown($event)"
        (focus)="onSelect()" (focusout)="onUpdate($event)" (input)="onInput($event)">
    </div>
</div>


<div class="child" [ngClass]="{ 'expanded' : tree.expanded[id] }">
    <ng-content></ng-content>
</div>