.node {
  cursor: pointer;
  padding: 1px 2px;
  margin: 1px 0;
}

.caret {
  width: 12px;
  float: left;
  margin-left: -15px;
}

.icon {
  width: 12px;
  float: left;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 7px;
  color: lightgray;
}

.title {
  float: none;
}

.bold {
  font-weight: bold;
}

.selected {
  background-color: rgb(217, 242, 250);
}

div.child {
  padding-left: 15px;

  // display: none;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

// display: block;
div.child.expanded {
  opacity: 1;
  height: auto;
}

.editablenode {
  white-space: pre;
  overflow-x: visible;
  font-family: "Courier New", Courier, monospace;
}

.error {
  background-color: #ffeeee;
  border-bottom: 1px solid red;
  // border-top: 5px solid white;
  // margin-top: 5px;
}

.errorIcon {
  color: #ffcccc;
}

.errorText {
  background-color: white;
  color: red;
  padding: 0 2px;
  // border-bottom: 5px solid white;
  margin-bottom: 5px;
}

.ready {
  background-color: #eeffee;
  border-bottom: 1px solid green;
  // border-top: 5px solid white;
  margin-top: 5px;
}
