<tabs class="cpn-tabs">


  <!-- Project console -->

  <tab tabTitle="Project console">

    <nav class="navbar navbar-sm navbar-expand shadow-sm">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a (click)="logHtml = []" class="nav-link" href="#">
            <i class="fas fa-plus"></i>
            <span>Clear</span>
          </a></li>
        <div class="divider"></div>
      </ul>
    </nav>

    <div class="tab-container-with-toolbar" id="logScrollPane">

      <div class="logConsole">
        <div *ngFor="let item of logHtml" [ngClass]="item.class" >
        <a href="" (click)="openDialog(item.text,item.class )">  {{ item.date | date: 'yyyy-MM-dd HH:mm:ss' }}</a> :
          <a class="idLink" *ngIf="item.id" href="" (click)="selectNode(item.id)">{{item.id}}</a>:
          {{ item.text }}
        </div>
      </div>

    </div>

  </tab>

  <!-- Changes history -->

  <tab tabTitle="Change history">

    <nav class="navbar navbar-sm navbar-expand shadow-sm">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a (click)="changesHtml = []" class="nav-link" href="#">
            <i class="fas fa-plus"></i>
            <span>Clear</span>
          </a></li>
        <div class="divider"></div>
      </ul>
    </nav>

    <div class="tab-container-with-toolbar" id="changesScrollPane">

      <div class="logConsole">
        <div *ngFor="let item of changesHtml" [ngClass]="item.class">
          {{ item.date | date: 'yyyy-MM-dd HH:mm:ss' }} : {{ item.text }}
        </div>
      </div>

    </div>

  </tab>

  <tab tabTitle="Errors" [error]="accessCpnService.errorIds.length > 0">

    <div class="tab-container" id="logScrollPane">
      <div class="logConsole">
        <ng-container *ngFor="let id of accessCpnService.errorIds">
          <div class="error"><a href="" (click)="openDialog(accessCpnService.errorData[id],'error')">{{ id }}</a> : {{ accessCpnService.errorData[id] }}</div>
        </ng-container>
      </div>
    </div>

  </tab>


  <tab tabTitle="Simulation report"
    [ready]="accessCpnService.simulationReport && accessCpnService.simulationReport !== ''">
    <div class="tab-container" id="logScrollPane">
      <div class="logConsole">
        <!-- <pre>{{ accessCpnService.simulationReport }}</pre> -->
        <div class="report" [innerHTML]="accessCpnService.simulationReport | simulationReport | safeHtml">
        </div>
      </div>
    </div>
  </tab>

  <!-- test animation -->
  <!-- <tab id="testTab" tabTitle="Test">

    <svg style="width: 100%; height: 100%; background: #ffffcc">
      <g id="tokenG_ID2751839452" transform="scale(1, 1)">
        <g>
          <circle r="9" cx="100" cy="100" style="fill: rgb(255, 51, 51);">
            <animateMotion dur="500ms" begin="click" fill="freeze" path="m 0,0 L147,-92 "></animateMotion>
          </circle>
        </g>
      </g>
    </svg>

  </tab> -->


</tabs>
