<tabs class="cpn-tabs">


  <!-- Project console -->

  <tab tabTitle="Project console">

    <nav class="navbar navbar-sm navbar-expand shadow-sm">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a (click)="logHtml = []" class="nav-link" href="#">
            <i class="fas fa-plus"></i>
            <span>Clear</span>
          </a></li>
        <div class="divider"></div>
      </ul>
    </nav>

    <div class="tab-container-with-toolbar" id="logScrollPane">

      <div class="logConsole">
        <div *ngFor="let item of logHtml" [ngClass]="item.class">
          {{ item.date | date: 'yyyy-MM-dd HH:mm:ss' }} : {{ item.text }}
        </div>
      </div>

    </div>

  </tab>

  <!-- Changes history -->

  <tab tabTitle="Change history">

    <nav class="navbar navbar-sm navbar-expand shadow-sm">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a (click)="changesHtml = []" class="nav-link" href="#">
            <i class="fas fa-plus"></i>
            <span>Clear</span>
          </a></li>
        <div class="divider"></div>
      </ul>
    </nav>

    <div class="tab-container-with-toolbar" id="changesScrollPane">

      <div class="logConsole">
        <div *ngFor="let item of changesHtml" [ngClass]="item.class">
          {{ item.date | date: 'yyyy-MM-dd HH:mm:ss' }} : {{ item.text }}
        </div>
      </div>

    </div>

  </tab>

  <tab tabTitle="Errors" [error]="accessCpnService.errorIds.length > 0">

    <div class="tab-container" id="logScrollPane">
      <div class="logConsole">
        <ng-container *ngFor="let id of accessCpnService.errorIds">
          <div class="error">{{ id }} : {{ accessCpnService.errorData[id] }}</div>
        </ng-container>
      </div>
    </div>

  </tab>

  <!-- test animation -->
  <tab id="testTab" tabTitle="Test">

    <svg style="width: 100%; height: 100%; background: #ffffcc">

      <!-- <path id="motionPath" fill="none" stroke="#000000" stroke-miterlimit="20" d="M0,0c3.2-3.4,18.4-0.6,23.4-0.6c5.7,0.1,10.8,0.9,16.3,2.3    c13.5,3.5,26.1,9.6,38.5,16.2c12.3,6.5,21.3,16.8,31.9,25.4c10.8,8.7,21,18.3,31.7,26.9c9.3,7.4,20.9,11.5,31.4,16.7
      c13.7,6.8,26.8,9.7,41.8,9c21.4-1,40.8-3.7,61.3-10.4c10.9-3.5,18.9-11.3,28.5-17.8c5.4-3.7,10.4-6.7,14.8-11.5
      c1.9-2.1,3.7-5.5,6.5-6.5" />

      <circle id="testBall" cx="100" cy="100" r="30" fill="red">
        <animateMotion dur="1s" begin="click" fill="freeze" path="M0,0c3.2-3.4,18.4-0.6,23.4-0.6c5.7,0.1,10.8,0.9,16.3,2.3    c13.5,3.5,26.1,9.6,38.5,16.2c12.3,6.5,21.3,16.8,31.9,25.4c10.8,8.7,21,18.3,31.7,26.9c9.3,7.4,20.9,11.5,31.4,16.7
    c13.7,6.8,26.8,9.7,41.8,9c21.4-1,40.8-3.7,61.3-10.4c10.9-3.5,18.9-11.3,28.5-17.8c5.4-3.7,10.4-6.7,14.8-11.5
    c1.9-2.1,3.7-5.5,6.5-6.5">
        </animateMotion>
      </circle> -->

      <g id="tokenG_ID2751839452" transform="scale(1, 1)">
        <g>
          <circle r="9" cx="100" cy="100" style="fill: rgb(255, 51, 51);">
            <animateMotion dur="500ms" begin="click" fill="freeze" path="m 0,0 L147,-92 "></animateMotion>
          </circle>
        </g>
      </g>
    </svg>

  </tab>


</tabs>