.logConsole {
  padding: 10px;

  div {
    white-space: pre;
  }

  .normal {
    color: gray;
  }

  .error {
    color: red;
  }

  .success {
    color: green;
  }
}

.report {
  white-space: pre;
  overflow-x: visible;
  // font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}
