<tabs class="cpn-tabs">


  <!-- Project console -->

  <tab tabTitle="Project console">

    <nav class="navbar navbar-sm navbar-expand shadow-sm">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a (click)="logHtml = []" class="nav-link" href="#">
            <i class="fas fa-plus"></i>
            <span>Clear</span>
          </a></li>
        <div class="divider"></div>
      </ul>
    </nav>

    <div class="tab-container-with-toolbar" id="logScrollPane">

      <div class="logConsole">
        <div *ngFor="let item of logHtml" [ngClass]="item.class">
          {{ item.date | date: 'yyyy-MM-dd HH:mm:ss' }} : {{ item.text }}
        </div>
      </div>

    </div>

  </tab>

  <!-- Changes history -->

  <tab tabTitle="Change history">

    <nav class="navbar navbar-sm navbar-expand shadow-sm">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a (click)="changesHtml = []" class="nav-link" href="#">
            <i class="fas fa-plus"></i>
            <span>Clear</span>
          </a></li>
        <div class="divider"></div>
      </ul>
    </nav>

    <div class="tab-container-with-toolbar" id="changesScrollPane">

      <div class="logConsole">
        <div *ngFor="let item of changesHtml" [ngClass]="item.class">
          {{ item.date | date: 'yyyy-MM-dd HH:mm:ss' }} : {{ item.text }}
        </div>
      </div>

    </div>

  </tab>

  <tab tabTitle="Errors" [error]="errorService.errorIds.length > 0">

    <div class="tab-container" id="logScrollPane">
      <div class="logConsole">
        <ng-container *ngFor="let id of errorService.errorIds">
          <div class="error">{{ id }} : {{ errorService.errorData[id] }}</div>
        </ng-container>
      </div>
    </div>

  </tab>

</tabs>