<nav class="navbar navbar-sm navbar-expand shadow-sm">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <b>Application settings</b>
    </li>
    <div class="divider"></div>
  </ul>

  <ul class="navbar-nav ml-auto">
    <div class="divider"></div>

    <li class="nav-item"><a (click)="onReset()" class="nav-link" href="#">
        <i class="fas fa-reply"></i>
        <span>Reset</span>
      </a></li>
  </ul>
</nav>


<div class="tab-container-with-toolbar">

  <!-- <div class="blockHeader">
    Application settings
  </div> -->

  <table class="table table-bordered table-hover table-small">
    <tr *ngFor="let key of Object.keys(settings.appSettings)">
      <td class="valueName">{{ key }}</td>
      <td contenteditable='true' (focusout)="saveEditedData($event, key)">{{ getValueText(key) }}</td>
    </tr>
  </table>

</div>