<div class="tab-container">

  <div *ngIf="cpnElement" style="width: 100%">

    <div class="blockHeader">
      {{ cpnElement._typedescription }}
    </div>

    <!--
      Monitor description
    -->

    <!-- ID -->
    <app-text-edit-row name="Id" [object]="cpnElement" field="_id" [readonly]="true">
    </app-text-edit-row>

    <!-- Name -->
    <app-text-edit-row type="text" [pre]="false" name="Name" [object]="cpnElement" field="_name"
      [readonly]="accessCpnService.isSimulation" (changed)="updateChanges()">
    </app-text-edit-row>

    <!-- Timed -->
    <app-text-edit-row *ngIf="getOption('Timed')" type="select" name="Timed" [object]="getOption('Timed')"
      field="_value" (changed)="updateOptionValue($event, 'Timed')" [options]="boolValues"
      [readonly]="accessCpnService.isSimulation">
    </app-text-edit-row>

    <!-- Logging -->
    <app-text-edit-row *ngIf="getOption('Logging')" type="select" name="Logging" [object]="getOption('Logging')"
      field="_value" (changed)="updateOptionValue($event, 'Logging')" [options]="boolValues"
      [readonly]="accessCpnService.isSimulation">
    </app-text-edit-row>

    <!------------------------->

    <!--
      Nodes
    -->
    <div class="blockHeader">Nodes</div>
    <!-- <div style="width:100%">
      {{ JSON.stringify(cpnElement.node) }}
    </div> -->
    <table class="table table-bordered table-hover table-small">
      <tr *ngFor="let node of getNodes()">
        <td>{{ node.page.name }}</td>
        <td>{{ node.element.name }}</td>
      </tr>
    </table>
    <!------------------------->

    <!--
      Declarations
    -->
    <div *ngFor="let declaration of cpnElement.declaration">

      <table *ngIf="declaration && declaration.ml" class="table table-bordered table-hover table-small">

        <tr>
          <td class="blockHeader">
            {{ declaration._name }}
          </td>
        </tr>

        <tr>
          <td class="ml">
            <div style="position: relative; display: grid">
              <div style="max-width:100%; overflow-x:auto;">

                <!-- <div [id]="'textinpfield_' + declaration.ml._id" class="editablenode" [contentEditable]="true"
                    (focusin)="onDeclarationClick($event, declaration)"
                    (click)="onDeclarationClick($event, declaration)"
                    (dblclick)="onDeclarationDblClick($event, declaration)"
                    (focusout)="onSaveDeclaration($event, declaration)"
                    [innerHTML]="declaration.ml.__text | colorDeclarations | safeHtml">
                  </div> -->

                <app-text-edit-row type="ml" name="declaration._name" [object]="declaration.ml" field="__text"
                  [readonly]="accessCpnService.isSimulation" (changed)="updateChanges()">
                </app-text-edit-row>

              </div>
            </div>
          </td>
        </tr>

      </table>

    </div>
    <!------------------------->



  </div>

</div>
