.contextmenu {
  position: fixed;
  z-index: 100000;
  background: white;
  border: 1px solid gray;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 5px 0;
}

.dropdown-item {
  padding: 5px 15px;
}

.dropdown-item:hover {
  background-color: rgb(217, 242, 250);
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.contextmenu i {
  width: 12px;
  color: #999;
}