<div *ngIf="hasDeclarations()" class="blockHeader">
  <!-- {{ (parentBlock ? parentBlock.id  + '  >  ' : '') + block.id }} -->
  <a
    style="color: black"
    href="#"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    title="New"
  >
    <span *ngIf="parentBlock">{{ parentBlock.id }}</span>
    <i *ngIf="parentBlock" class="fas fa-arrow-right arrow"></i>
    <span class="headerTitle">{{ block.id }}</span>
    <i class="fas fa-plus iconNew"></i>
  </a>

  <div class="dropdown-menu list-elements" aria-labelledby="dropdownMenuLink">
    <a
      *ngIf="containerId === 'all' || containerId === 'color'"
      class="dropdown-item"
      href="#"
      (click)="onNewElement($event, 'color', block)"
      ><i class="fas fa-plus"></i> Color</a
    >
    <a
      *ngIf="containerId === 'all' || containerId === 'var'"
      class="dropdown-item"
      href="#"
      (click)="onNewElement($event, 'var', block)"
      ><i class="fas fa-plus"></i> Var</a
    >
    <a
      *ngIf="containerId === 'all' || containerId === 'globref'"
      class="dropdown-item"
      href="#"
      (click)="onNewElement($event, 'globref', block)"
      ><i class="fas fa-plus"></i> Globref</a
    >
    <a
      *ngIf="containerId === 'all' || containerId === 'monitor'"
      class="dropdown-item"
      href="#"
      (click)="onNewElement($event, 'monitor', block)"
      ><i class="fas fa-plus"></i> Monitor</a
    >
    <a
      *ngIf="containerId === 'all' || containerId === 'ml'"
      class="dropdown-item"
      href="#"
      (click)="onNewElement($event, 'ml', block)"
      ><i class="fas fa-plus"></i> ML</a
    >
  </div>
</div>

<div *ngIf="declarationType === 'monitorblock'" class="blockHeader">
  <!-- {{ (parentBlock ? parentBlock.id  + '  >  ' : '') + block.id }} -->

  <a
    style="color: black"
    href="#"
    id="dropdownMenuLinkMonitor"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    title="New"
  >
    <span *ngIf="parentBlock">{{ parentBlock._name }}</span>
    <i *ngIf="parentBlock" class="fas fa-arrow-right arrow"></i>
    <span class="headerTitle">{{ block._name }}</span>
    <i class="fas fa-plus iconNew"></i>
  </a>

  <div
    class="dropdown-menu list-elements"
    aria-labelledby="dropdownMenuLinkMonitor"
  >
    <a
      *ngIf="containerId === 'all' || containerId === 'color'"
      class="dropdown-item"
      href="#"
      (click)="onNewElement($event, 'color', block)"
      ><i class="fas fa-plus"></i> Color</a
    >
    <a
      *ngIf="containerId === 'all' || containerId === 'var'"
      class="dropdown-item"
      href="#"
      (click)="onNewElement($event, 'var', block)"
      ><i class="fas fa-plus"></i> Var</a
    >
    <a
      *ngIf="containerId === 'all' || containerId === 'globref'"
      class="dropdown-item"
      href="#"
      (click)="onNewElement($event, 'globref', block)"
      ><i class="fas fa-plus"></i> Globref</a
    >
    <a
      *ngIf="containerId === 'all' || containerId === 'monitor'"
      class="dropdown-item"
      href="#"
      (click)="onNewElement($event, 'monitor', block)"
      ><i class="fas fa-plus"></i> Monitor</a
    >
    <a
      *ngIf="containerId === 'all' || containerId === 'ml'"
      class="dropdown-item"
      href="#"
      (click)="onNewElement($event, 'ml', block)"
      ><i class="fas fa-plus"></i> ML</a
    >
  </div>
</div>

<!-- <div class="blockHeader">
  {{ (parentBlock ? parentBlock.id  + '  >  ' : '') + block.id }}
</div> -->

<ng-container *ngIf="hasBlocks()">
  <ng-container *ngFor="let subblock of nodeToArray(block.block)">
    <div style="padding-left: 20px; background-color: lightgray">
      <app-project-declarations-block-node
        [containerId]="containerId"
        [tree]="tree"
        [parentBlock]="block"
        [block]="subblock"
        [declarationType]="declarationType"
        [listener]="contextMenu"
      >
      </app-project-declarations-block-node>
    </div>
  </ng-container>
</ng-container>

<ng-container
  *ngIf="this.block.monitorblock && this.declarationType === 'monitorblock'"
>
  <ng-container *ngFor="let subblock of nodeToArray(block.monitorblock)">
    <div style="padding-left: 20px; background-color: lightgray">
      <app-project-declarations-block-node
        [containerId]="containerId"
        [tree]="tree"
        [parentBlock]="block"
        [block]="subblock"
        [declarationType]="declarationType"
        [listener]="contextMenu"
      >
      </app-project-declarations-block-node>
    </div>
  </ng-container>
</ng-container>
<div
  *ngIf="this.block.monitor"
  style="
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid lightgray;
  "
>
  <ng-container *ngFor="let monitor of nodeToArray(block.monitor)">
    <app-project-tree-declaration-node
      [containerId]="containerId"
      [tree]="tree"
      [parentBlock]="block"
      [declaration]="monitor"
      [type]="'monitor'"
    >
    </app-project-tree-declaration-node>
  </ng-container>
</div>

<div
  *ngIf="hasDeclarations()"
  style="
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid lightgray;
  "
>
  <ng-container
    *ngIf="declarationType === 'all' || declarationType === 'globref'"
  >
    <ng-container *ngFor="let globref of nodeToArray(block.globref)">
      <app-project-tree-declaration-node
        [containerId]="containerId"
        [tree]="tree"
        [parentBlock]="block"
        [declaration]="globref"
        type="globref"
      >
      </app-project-tree-declaration-node>
    </ng-container>
  </ng-container>

  <ng-container
    *ngIf="declarationType === 'all' || declarationType === 'color'"
  >
    <ng-container *ngFor="let color of nodeToArray(block.color)">
      <app-project-tree-declaration-node
        [containerId]="containerId"
        [tree]="tree"
        [parentBlock]="block"
        [declaration]="color"
        type="color"
      >
      </app-project-tree-declaration-node>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="declarationType === 'all' || declarationType === 'var'">
    <ng-container *ngFor="let variable of nodeToArray(block.var)">
      <app-project-tree-declaration-node
        [containerId]="containerId"
        [tree]="tree"
        [parentBlock]="block"
        [declaration]="variable"
        type="var"
      >
      </app-project-tree-declaration-node>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="declarationType === 'all' || declarationType === 'ml'">
    <ng-container *ngFor="let ml of nodeToArray(block.ml)">
      <app-project-tree-declaration-node
        [containerId]="containerId"
        [tree]="tree"
        [parentBlock]="block"
        [declaration]="ml"
        type="ml"
      >
      </app-project-tree-declaration-node>
    </ng-container>
  </ng-container>

  <ng-container
    *ngIf="declarationType === 'all' || declarationType === 'monitor'"
  >
    <ng-container *ngFor="let monitor of nodeToArray(block.monitorblock)">
      <app-project-tree-declaration-node
        [containerId]="containerId"
        [tree]="tree"
        [parentBlock]="block"
        [declaration]="monitor"
        type="monitor"
      >
      </app-project-tree-declaration-node>
    </ng-container>
  </ng-container>
</div>
