<!--<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" style="border-bottom: 1px solid lightgray">-->
<nav class="navbar navbar-expand shadow-sm">

  <!--<a class="navbar-brand mb-2" href="#">CPN IDE</a>-->

  <!--<img src="../../assets/img/cpn-logo.svg" class="logo">-->
  <span class="nav-item">
    <b>&nbsp;CPN IDE</b>
  </span>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <ul class="navbar-nav mr-auto">


    <div class="divider"></div>

    <!-- New -->
    <li class="nav-item" (click)="newCPNet()">
      <div class="nav-link mb-0">
        <!--<img src="../../../assets/img/new.png">-->
        <i class="fas fa-plus"></i>
        <span>New project</span>
      </div>
    </li>

    <div class="divider"></div>

    <!--<li class="nav-item">-->
    <!--<a class="nav-link disabled" href="#">Project:</a>-->
    <!--</li>-->

    <!-- Open -->
    <li class="nav-item">
      <app-openproject-button></app-openproject-button>
    </li>

    <!-- Save -->
    <li class="nav-item">
      <app-saveproject-button></app-saveproject-button>
    </li>

    <div class="divider"></div>

    <li class="nav-item">
      <div class="nav-link mb-0" (click)="undoChanges()">
        <i class="fas fa-undo"></i>
        <span>Undo</span>
      </div>
    </li>
    <li class="nav-item">
      <div class="nav-link mb-0" (click)="redoChanges()">
        <i class="fas fa-redo"></i>
        <span>Redo</span>
      </div>
    </li>

    <div class="divider"></div>

    <li class="nav-item">
      <div class="nav-link mb-0" (click)="fullScreen()">
        <i class="fas fa-expand-arrows-alt"></i>
        <span>Expand diagram</span>
      </div>
    </li>

    <div class="divider"></div>

    <li class="nav-item">
      <div class="nav-link mb-0" (click)="verify()">
        <i class="fab fa-buffer"></i>
        <span>Verify</span>
      </div>
    </li>

  </ul>

  <ul class="navbar-nav ml-auto">

    <div class="divider"></div>

    <!-- New -->
    <li class="nav-item">
      <a href="../../assets/changes.md">{{ version }}</a>
      <!--span>{{ version }}</span-->
      &nbsp;
    </li>

  </ul>

</nav>
