<!--<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" style="border-bottom: 1px solid lightgray">-->
<nav class="navbar navbar-expand shadow-sm">

  <!--<a class="navbar-brand mb-2" href="#">CPN IDE</a>-->

  <!--<img src="../../assets/img/cpn-logo.svg" class="logo">-->
  <span class="nav-item">
    <b>&nbsp;CPN IDE</b>
  </span>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <ul class="navbar-nav mr-auto">


    <div class="divider"></div>

    <!-- New -->
    <li class="nav-item" (click)="onNewProject()">
      <div class="nav-link mb-0">
        <!--<img src="../../../assets/img/new.png">-->
        <i class="fas fa-plus"></i>
        <span>New project</span>
      </div>
    </li>

    <div class="divider"></div>

    <!--<li class="nav-item">-->
    <!--<a class="nav-link disabled" href="#">Project:</a>-->
    <!--</li>-->

    <!-- Open -->
    <!-- <li class="nav-item">
      <app-openproject-button (click)="openProject()"></app-openproject-button>
    </li> -->
    <li class="nav-item" (click)="onOpenProject()">
      <div class="nav-link mb-0">
        <i class="far fa-folder-open"></i>
        <span>Load project</span>
      </div>
    </li>

    <!-- Save -->
    <!-- <li class="nav-item">
      <app-saveproject-button></app-saveproject-button>
    </li> -->

    <li class="nav-item" (click)="onSaveProject()">
      <div class="nav-link mb-0">
        <i class="far fa-save"></i>
        <span>Save project</span>
      </div>
    </li>

    <div class="divider"></div>


    <ng-container *ngIf="!accessCpnService.isSimulation">

      <!-- Undo -->
      <li class="nav-item">
        <div class="nav-link mb-0" [ngClass]="{'disabled': undo === 0 }" (click)="getUndo()">
          <i class="fas fa-undo"></i>
          <!-- <span>Undo</span>&nbsp;<span *ngIf="modelService.getUndoCount() > 0">({{ modelService.getUndoCount() }})</span> -->
          <span *ngIf="undo > 0; else elseUndoBlock">Undo
            ({{ undo }})</span>
          <ng-template #elseUndoBlock><span>Undo</span></ng-template>
        </div>
      </li>

      <!-- Redo -->
      <li class="nav-item">
        <div class="nav-link mb-0" [ngClass]="{'disabled': redo === 0 }" (click)="getRedo()">
          <i class="fas fa-redo"></i>
          <span *ngIf="redo > 0; else elseRedoBlock">Redo
            ({{ redo }})</span>
          <ng-template #elseRedoBlock><span>Redo</span></ng-template>
        </div>
      </li>

      <!-- Reload -->
      <!-- <li class="nav-item">
      <div class="nav-link mb-0" (click)="reloadProject()">
        <i class="fas fa-sync-alt"></i>
        <span>Reload</span>
      </div>
    </li> -->

      <div class="divider"></div>
    </ng-container>

    <!-- Expand diagram -->
    <li class="nav-item">
      <div class="nav-link mb-0" (click)="fullScreen()">
        <i class="fas fa-expand-arrows-alt"></i>
        <span>Expand diagram</span>
      </div>
    </li>

    <div class="divider"></div>

    <ng-container *ngIf="!accessCpnService.isSimulation">

      <!-- Validate -->
      <li class="nav-item">
        <div (click)="onValidate()" class="nav-link mb-0">
          <i class="fas fa-check-double"></i>
          <span>Validate</span>
        </div>
      </li>

      <li class="nav-item">
        <a (click)="onValidateAuto()" class="nav-link" [ngClass]="validationService.isAutoValidation ? 'red' : 'grey'"
          href="#">
          <i [ngClass]="validationService.isAutoValidation ? 'far fa-check-square' : 'far fa-square'"></i>
          <span>Auto</span>
        </a>
      </li>

      <div class="divider"></div>

    </ng-container>


    <!-- <li class="nav-item disabled">
      <div class="nav-link mb-0 disabled">
        <span style="color:gray">Simulation:</span>
      </div>
    </li> -->

    <!-- Start/Stop simulation -->
    <li class="nav-item">
      <ng-container *ngIf="!accessCpnService.isSimulation">
        <div (click)="onStartSimulation()" class="nav-link mb-0 green"
          [ngClass]="{'disabled': accessCpnService.initNetProcessing || accessCpnService.initSimProcessing}">
          <i class="fas fa-play"></i>
          <span>Start simulation</span>
        </div>
      </ng-container>

      <ng-container *ngIf="accessCpnService.isSimulation">
        <div (click)="onStopSimulation()" class="nav-link mb-0 red">
          <i class="fas fa-stop"></i>
          <span>Stop simulation</span>
        </div>
      </ng-container>
    </li>


  </ul>

  <ul class="navbar-nav ml-auto">

    <ng-container *ngIf="!accessCpnService.isSimulation">
      <!-- Test button -->
      <!-- <li class="nav-item">
        <div (click)="onTest()" class="nav-link mb-0">
          <i class="fas fa-step-forward"></i>
          <span>Test</span>
        </div>
      </li>
      <div class="divider"></div> -->

      <!-- Show documentation -->
      <li class="nav-item">
        <div (click)="onDocumentation()" class="nav-link mb-0">
          <ng-container *ngIf="!applicationService.isShowDocumentation">
            <i class="fas fa-book"></i>
            <span>User Guide</span>
          </ng-container>
          <ng-container *ngIf="applicationService.isShowDocumentation">
            <div class="red">
              <i class="fas fa-book-open"></i>
              <span>Close User Guide</span>
            </div>
          </ng-container>
        </div>
      </li>

    </ng-container>

    <div class="divider"></div>


    <!-- New -->
    <li class="nav-item">
      <!-- <a class="nav-link mb-0" href="../../assets/changes.md">{{ version }}</a> -->
      <a class="nav-link mb-0" href="#">{{ version }}</a>
    </li>

  </ul>

</nav>